# git
alias gs="echo git status; git status "
alias ga="echo git add --all; git add --all "
alias gc="git commit -a "
alias gcm="git commit -am "
alias gacm="git add --all && git commit -am "
alias gpl="git pull"
alias gf="git fetch"
alias gp="git push"

function gacmp () {
  echo "git add, commit, push"
  git add --all && git commit -am "$@" && git push
}

# cd
alias cl="clear"
alias cdd="cd ~/Projects/dotfiles/"

function cdl () {
  cd "$@" && l
}

# others
alias v="vim "
alias p="pacman "
alias y="yaourt "

# ssh
alias sshpi="ssh pi@pihole"
